/* @font-face {
  font-family: "AkkuratPro-Regular";
  src: url("/fontsZ/AkkuratPro-Regular.otf") format("otf");
}

@font-face {
  font-family: "AkkuratPro-Light";
  src: url("/fonts/AkkuratPro-Light.otf") format("otf");
}*/

body {
  /* @apply font-display; */
  @apply text-gray-700;
  @apply leading-normal;
}

h1 {
  @apply text-3xl text-gray-900 font-display font-light;
}

h2 {
  @apply text-2xl my-6 text-gray-900;
}

h3 {
  @apply text-xl text-gray-900;
}

a {
  @apply text-gray-600 underline;
}
a:hover {
  @apply text-gray-800;
}

dl dt {
  @apply font-bold;
}

label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

nav a:hover {
  @apply no-underline;
}

table {
  @apply text-left w-full;
}

caption {
  @apply italic py-4 text-sm text-gray-600;
}

th {
  @apply text-sm font-semibold text-gray-700 p-2 bg-gray-100;
}

tbody {
  @apply align-baseline;
}

tr.error {
  @apply bg-red-400 text-white;
}

td {
  @apply p-2 border-t border-gray-300 text-sm;
}

table.clear th {
  @apply bg-transparent text-red-900;
}

.alert {
  @apply border-t-4 rounded-b px-4 py-3 shadow-md;
}

.alert .icon {
  @apply fill-current h-6 w-6 mr-4;
}

.alert.info {
  @apply bg-blue-100 border-blue-500 text-blue-900;
}
.alert.info .icon {
  @apply text-blue-500;
}
.alert.danger {
  @apply bg-red-100 border-red-500 text-red-900;
}
.alert.danger .icon {
  @apply text-red-500;
}
.alert.success {
  @apply bg-green-100 border-green-500 text-green-900;
}
.alert.success .icon {
  @apply text-green-500;
}

.breadcrumbs {
  @apply mb-8 text-sm;
}

.btn {
  @apply bg-gray-700 font-bold tracking-wide text-sm uppercase py-2 px-4 rounded inline-block text-white no-underline;
}

.btn:hover {
  @apply bg-gray-800 no-underline text-white;
}

.btn:focus {
  @apply outline-none shadow-outline;
}

.btn .icon {
  @apply text-white;
}

.btn-clear {
  @apply bg-transparent border border-gray-300 text-gray-700;
}
.btn-clear:hover {
  @apply bg-transparent text-gray-800;
}

.btn-link {
  @apply bg-transparent text-gray-700;
}
.btn-link:hover {
  @apply bg-transparent text-gray-600;
}

.btn-danger {
  @apply bg-danger-dark;
}

.btn-danger:hover {
  @apply bg-red-700;
}

.btn-disabled {
  @apply opacity-50 cursor-not-allowed;
}

.button-group .btn {
  @apply ml-2;
}

.button-group .btn:first-of-type {
  @apply ml-0;
}

.content-block {
  @apply bg-white p-6 shadow-md;
}

.icon {
  @apply fill-current inline-block text-gray-600 w-4 h-4 mr-1;
}

.notification {
  /* @apply flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3 absolute top-0 right-0 m-4; */
  @apply bg-green-500;
}

.notification-body {
  @apply mr-4;
}

.text-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.text-input:focus {
  @apply outline-none shadow-outline;
}

.toast-progress-bar {
  @apply bg-white;
}

.toast-error {
  @apply bg-red-300;
}

/** Overrides **/
.Toastify__toast--default {
  @apply bg-gray-600 text-white !important;
}
.Toastify__close-button--default {
  @apply text-white !important;
}

.spinner {
  position: absolute !important;
}
